/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

h1, h2, h3 {
  font-family: $headers-font;
}
p, a {
  font-family: $body-font;
}

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
