.layout {
  background-color: lightgrey;
  margin-bottom: 300px;
}

.img-circle {
  width: 150px;
}
.container {
  h1 {
      font-size: 30px;
      font-weight: lighter;
  }
}
h1 i {
  color: red;
}
.profile {

}
